header {
    display: flex;
    width: 100%;
}

.titlename {
    text-align: center;
    font-size: 32px;
    /* animation: titleeffect 2s linear infinite; */
}

.cntext {
    line-height: 24px;
    text-align: center;
}

.ui-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copyright {
    text-align: center;
}

/* 更改照片大小 */
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
    height: 113px;
    width: 128px;
}

.ui-footer {
    border-width:1px 0;
    border-style:solid;
    width: 100%;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    text-shadow: none !important;
}

.ui-body-c, .ui-header, .ui-footer {
    font-family: 'Noto Sans TC', sans-serif;
}

/* Accordion */
.accordion-panel {
    width: 100%;
    display: none;
}

.accordion {
    width: 100%;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion li .accordion-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cnvideo {
    margin-top: 1em;
    max-width: 100%;
}

.accordion > li img {
    width: 80vw;
    height: 50vw;
}

.content-list {
    width: 100%;
}

/* 版面小於576px */
@media(max-width:576px) {
    .accordion > li img {
        width: 90vw;
        height: 70vw;
    }
}

/* 標題效果 */
@keyframes titleeffect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}